<html layout:decorate="~{layout/layout.html}" th:with="titulo='Autenticação'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div layout:fragment="content" style="width: 500px">
    <form class="form-signin" method="POST" th:action="@{/auth/login}">
        <div class="form-group mx-sm-3 mb-2 text-center">
            <img alt="Logo do Photobean" class="mb-4" th:src="@{/img/logo.png}" style="height: 100px; width: auto;">
        </div>

        <h1 class="h3 mb-3 font-weight-normal text-center">Por favor, autentique-se</h1>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
            Login e/ou senha inválidos!
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="username">Login</label>
            <input class="form-control" id="username" name="username" placeholder="Digite seu login" required type="text" autofocus>
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="password">Senha</label>
            <input class="form-control" id="password" name="password" placeholder="Digite sua senha" required type="password">
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="lembrar" name="lembrar">
                <label class="form-check-label" for="lembrar">Lembrar-me</label>
            </div>
        </div>

        <div class="form-group mx-sm-3 mb-2 text-end">
            <button class="btn btn-success" type="submit">Entrar</button>
            <a class="btn btn-outline-warning" th:href="@{/home}">Cancelar</a>
        </div>
    </form>
</div>
</body>
</html>
