<html layout:decorate="~{layout/layout.html}" th:with="titulo='Cadastro de Fotos'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div layout:fragment="content">
  <form method="POST" th:action="@{/photos}" th:object="${photo}" enctype="multipart/form-data">
    <input class="form-control" th:field="*{id}" type="hidden" />

    <div class="form-group mx-sm-3 mb-2">
      <label for="imagemData">Upload de Imagem</label>
      <input class="form-control mb-2" type="file" name="file" accept="image/png" />
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="photographer">Fotógrafo</label>
      <select class="form-select mb-2" th:field="*{photographer.id}">
        <option th:each="ph : ${photographerItems}"
                th:value="${ph.id}"
                th:text="${ph.name}"
                th:disabled="${ph.suspended}">
        </option>
      </select>
      <p class="alert alert-danger" th:errorclass="error" th:errors="*{photographer.id}" th:if="${#fields.hasErrors('photographer.id')}" />
    </div>


    <div class="form-group mx-sm-3 mb-2">
      <button class="btn btn-success" type="submit">Salvar</button>
      <a class="btn btn-outline-warning" th:href="@{/home}">Cancelar</a>
    </div>
  </form>
</div>
</body>

</html>
