<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}" th:with="titulo='Home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div layout:fragment="content" class="container py-5">
    <div class="text-center mb-4">
        <h1 class="display-4">PhotoBean</h1>
        <p class="lead">Uma plataforma para amantes da fotografia compartilharem sua paixão.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm p-4 mb-4">
                <h3 class="text-primary">Como administrador, você poderá:</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Listar e suspender fotógrafos do sistema, usando uma conta de <strong>Administrador</strong>.</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm p-4 mb-4">
                <h3 class="text-success">Como fotógrafo, você poderá:</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Publicar fotografias</li>
                    <li class="list-group-item">Seguir outros fotógrafos</li>
                    <li class="list-group-item">Curtir fotografias</li>
                    <li class="list-group-item">Enviar comentários</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
