<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}" th:with="titulo='Home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div layout:fragment="content">

    <h2>PhotoBean</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloremque doloribus eligendi obcaecati quae rem, voluptate. Aspernatur distinctio eius itaque minima natus nulla officia perferendis quos tempore veritatis. Asperiores, autem!</p>

    <div>Como administrador, você poderá:</div>
    <ul>
        <li>Listar e suspender fotógrafos do sistema, usando uma conta de
            <strong>Administrador</strong>
        </li>
    </ul>
    <div>Como fotógrafo, você poderá:</div>
    <ul>
        <li>Publicar fotografias</li>
        <li>Seguir outros fotógrafos</li>
        <li>Curtir fotografias</li>
        <li>Enviar comentários</li>
    </ul>
</div>
</body>

</html>
